<p class="pull-left">
COMP 162 - Analytics Computing
</p>
<div class="pull-right">
<ul class="list-inline">
Copyright Â© Dana Nehoran 2017
</ul>
</div>

# <font color='navy' size=6>Distance Algorithms</font>

In [0]:
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.cluster import KMeans
import sklearn.metrics as sm
 
import pandas as pd
import numpy as np
from pandas import DataFrame

# Set some pandas options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', 60)
pd.set_option('display.width', 1000)
 
%matplotlib inline

# 1) Distance Matrix

In [0]:
grades = np.array([90, 95, 93,
70, 78, 73,
69, 79, 79,
90, 99, 100,
80, 60, 95,
100, 93, 99,
80, 59, 80,
74, 45, 80,
95, 93, 99,
40, 59, 70,
])
grades = grades.reshape(10, -1)
grades_df = DataFrame(grades)
grades_df.columns = [["English", "Math", "Science"]]
grades_df

   English  Math  Science
0       90    95       93
1       70    78       73
2       69    79       79
3       90    99      100
4       80    60       95
5      100    93       99
6       80    59       80
7       74    45       80
8       95    93       99
9       40    59       70

In [0]:
from sklearn.metrics.pairwise import euclidean_distances
grades_distance_df = DataFrame(euclidean_distances(grades_df))
round(grades_distance_df, 2)

       0      1      2      3      4      5      6      7      8      9
0   0.00  33.00  29.88   8.06  36.46  11.83  39.56  54.08   8.06  65.76
1  33.00   0.00   6.16  39.62  30.13  42.44  22.58  33.97  39.06  35.64
2  29.88   6.16   0.00  35.81  27.17  39.46  22.85  34.38  35.67  36.36
3   8.06  39.62  35.81   0.00  40.57  11.70  45.83  59.77   7.87  70.71
4  36.46  30.13  27.17  40.57   0.00  38.79  15.03  22.05  36.47  47.18
5  11.83  42.44  39.46  11.70  38.79   0.00  43.78  57.80   5.00  74.81
6  39.56  22.58  22.85  45.83  15.03  43.78   0.00  15.23  41.74  41.23
7  54.08  33.97  34.38  59.77  22.05  57.80  15.23   0.00  55.73  38.11
8   8.06  39.06  35.67   7.87  36.47   5.00  41.74  55.73   0.00  70.87
9  65.76  35.64  36.36  70.71  47.18  74.81  41.23  38.11  70.87   0.00

# 2) Normalizing

In [0]:
customers = np.array([4319, 28799, 5, 4513, 20282, 2, 2959, 28743, 3, 4315, 28570, 3, 2706, 20345, 1,
                     3794, 21981, 5, 2923, 21780, 4, 3645, 28487, 5, 2561, 21091, 2, 4794, 22153, 5])
customers = customers.reshape(10, -1)
customers_df = DataFrame(customers)
customers_df.columns = [["Expenses", "Income", "Education"]]
customers_df

   Expenses  Income  Education
0      4319   28799          5
1      4513   20282          2
2      2959   28743          3
3      4315   28570          3
4      2706   20345          1
5      3794   21981          5
6      2923   21780          4
7      3645   28487          5
8      2561   21091          2
9      4794   22153          5

In [0]:
norm_customers_df = round((customers_df - customers_df.min())/
                          (customers_df.max() - customers_df.min()),2)
norm_customers_df

   Expenses  Income  Education
0      0.79    1.00       1.00
1      0.87    0.00       0.25
2      0.18    0.99       0.50
3      0.79    0.97       0.50
4      0.06    0.01       0.00
5      0.55    0.20       1.00
6      0.16    0.18       0.75
7      0.49    0.96       1.00
8      0.00    0.09       0.25
9      1.00    0.22       1.00

In [0]:
from sklearn.metrics.pairwise import euclidean_distances
customers_distance_normalized_df = DataFrame(euclidean_distances(norm_customers_df))
round(customers_distance_normalized_df, 2)

      0     1     2     3     4     5     6     7     8     9
0  0.00  1.25  0.79  0.50  1.59  0.84  1.06  0.30  1.42  0.81
1  1.25  0.00  1.23  1.00  0.85  0.84  0.89  1.28  0.87  0.79
2  0.79  1.23  0.00  0.61  1.11  1.01  0.85  0.59  0.95  1.23
3  0.50  1.00  0.61  0.00  1.31  0.95  1.04  0.58  1.21  0.93
4  1.59  0.85  1.11  1.31  0.00  1.13  0.78  1.44  0.27  1.39
5  0.84  0.84  1.01  0.95  1.13  0.00  0.46  0.76  0.94  0.45
6  1.06  0.89  0.85  1.04  0.78  0.46  0.00  0.88  0.53  0.88
7  0.30  1.28  0.59  0.58  1.44  0.76  0.88  0.00  1.25  0.90
8  1.42  0.87  0.95  1.21  0.27  0.94  0.53  1.25  0.00  1.26
9  0.81  0.79  1.23  0.93  1.39  0.45  0.88  0.90  1.26  0.00

# 3) Network Analysis

In [0]:
friends = np.array([0, 2, 3, 2, 1, 3, 1,
                    2, 0, 1, 4, 2, 2, 2,
                    3, 1, 0, 1, 2, 3, 1,
                    2, 4, 1, 0, 2, 2, 1,
                    1, 2, 2, 2, 0, 2, 2,
                    3, 2, 3, 2, 2, 0, 3,
                    1, 2, 1, 1, 2, 3, 0,
                    ]).reshape(7, -1)
friends_df = DataFrame(friends, index = ["Paula", "Victor", "Dario", "Andres", "Gary", "Sean", "Carlos"])
friends_df.columns = [["Paula", "Victor", "Dario", "Andres", "Gary", "Sean", "Carlos"]]
friends_df

        Paula  Victor  Dario  Andres  Gary  Sean  Carlos
Paula       0       2      3       2     1     3       1
Victor      2       0      1       4     2     2       2
Dario       3       1      0       1     2     3       1
Andres      2       4      1       0     2     2       1
Gary        1       2      2       2     0     2       2
Sean        3       2      3       2     2     0       3
Carlos      1       2      1       1     2     3       0